<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">


    <title>{{ config.site_title }}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <style>
        :root {
            --primary-color: {{ config.primary_color }};
            --secondary-color: {{ config.secondary_color }};
            --tertiary-color: {{ config.tertiary_color }};
        }
    </style>
    {% block styles %}
    
    {% endblock styles %}
</head>
<body class="">
    {% include 'components/navbar.html' %}
    {% block subnav %}
        
    {% endblock subnav %}
    
    <section class="section is-fullheight">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    {% include 'components/footer.html' %}

    {% block scripts %}
        
    {% endblock scripts %}
</body>
</html>